<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>916288168071-o66c5t13r06rsie4jtn300qvvaph0gr2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916288168071-o66c5t13r06rsie4jtn300qvvaph0gr2</string>
	<key>API_KEY</key>
	<string>AIzaSyDUlLaz94Bm6w5iSKDIkh15uk5WG0QwfWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>916288168071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.gardencatch</string>
	<key>PROJECT_ID</key>
	<string>garden-catch-1556585909906</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:916288168071:ios:8f9bff1359625da7</string>
	<key>DATABASE_URL</key>
	<string>https://garden-catch-1556585909906.firebaseio.com</string>
</dict>
</plist>
